# - APP
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Acme

# - DATABASE
DB_URL=postgresql://postgres:postgres-pass@127.0.0.1:5432/nextjs
POSTGRES_USER=postgres
POSTGRES_DB=nextjs
POSTGRES_PASSWORD=postgres-pass

# - AUTH
# better auth
BETTER_AUTH_SECRET=wAI2GbMqnIGvo1gsSonJ7dqUyF7guIuJ_jdflajkdfjkdsjfa
BETTER_AUTH_URL=http://localhost:3000  # Base URL of your app
AUTH_OTP_EXPIRES=300  # in seconds (default 5 min)
AUTH_OTP_ALLOWED_ATTEMPT=5 # The maximum number of attempts allowed for verifying an OTP. Defaults to 3
# google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# - EMAIL
SMTP_SERVER_HOST=localhost
SMTP_SERVER_PORT=1025
SMTP_SERVER_USERNAME=dkfjalksjf
SMTP_SERVER_PASSWORD=dkfjalksjf
SUPPORT_MAIL_ADDRESS=help@example.com
MAIL_FROM_ADDRESS=mail@example.com
MAIL_FROM_NAME=Acme
